<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}BSL Workbench{% endblock %}</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen"> 
        
            <!-- Bootstrap Stylesheet -->
{#        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">#}
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Animate -->
        <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!-- FontAwesome Icons -->
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

        <!-- Normailize Stylesheet -->
        <link rel="stylesheet" href="{{ asset('css/normalize.min.css') }}">

        <link href="{{ asset('css/templatemo_style.css') }}" rel="stylesheet" media="screen">
        
        <script src="{{ asset('js/vendor/modernizr-2.6.2.min.js') }}"></script>
        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <!-- HEADER -->
  
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="menu-holder">
                    <div class="col-md-3 col-sm-2 logo">
                        <a href="#" title="BSL Logo">
                            <img src="{{ asset('images/bsl_logo.png') }}" alt="BSL">
                        </a>
                    </div>
                    <div class="col-md-7 col-sm-8">
                        <nav class="main-menu hidden-xs">
{#                            <ul>
                                <li><a href="{{ path('_homepage')}}">Home</a></li>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li><a href="{{ path('com_homepage')}}">Coms</a></li>
                                {% endif %}
                            </ul>#}
                        </nav>
                            
                            
                            <nav class="main-menu navbar navbar-default navbar-blue" role="navigation">
     <div class="container-fluid" id="navfluid">
       <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
      </button>
     <a class="navbar-brand" href="{{ path('_homepage')}}">BSL</a>
    </div>
<div class="collapse navbar-collapse" id="navigationbar" >
<ul class="nav navbar-nav">
   <li><a href="{{ path('_homepage')}}">Home</a></li>
   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('com_homepage')}}">COMS<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('com_ips_square_suggest') }}">ips-square-suggest</a></li>
            <li><a href="{{ path('com_ips_file_post') }}">ips-file-post</a></li>
            <li><a href="{{ path('com_ips_untrusted_fuzzy_search') }}">ips-untrusted-fuzzy-search</a></li>
          </ul>
        </li>
   {% endif %}

</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
                            
                            
                            
                            
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">                           
                        <ul class="social-top">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}<a href="{{ path('fos_user_security_logout') }}"><span class="hidden-xs">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span></a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}"><span class="hidden-xs">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span></a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}"><span class="hidden-xs">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</span></a></li>
                            {% endif %}  
                        </ul>
                    </div>
                </div>
           {#     <div class="text-right visible-xs">
                    <a href="#" id="mobile_menu"><span class="fa fa-bars"></span></a>
                </div>#}
            </div>
        </div>
    </header> 
    
    
    <!-- TOP CONTENT -->
    {% block top_c %}
    <div class="top-c">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-lg-5 col-md-5 col-xs-offset-1 col-sm-5 col-xs-8 col-xs-offset-2">
                    <!-- Miejsce na treść po lewej -->
                    
                </div>
                     <!-- Miejsce na treść po prawej -->
            </div>
        </div>
    </div>
    {% endblock %}
        <div class="content-section" id="middle-content">
            <div class="container">
    {% block mid_c %}

                <div class="row">
                    <div class="col-md-3 col-xs-6 text-center">

                    </div> 
                    <div class="col-md-3 col-xs-6 text-center">

                    </div> 
                    <div class="col-md-3 col-xs-6 text-center">

                    </div> 
                    <div class="col-md-3 col-xs-6 text-center">

                    </div>
                </div>
     
    {% endblock %}
           </div> 
        </div> 
    <!-- FOOTER -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right">
                    <p>Copyright &copy; Softax | Design: <a href="http://www.templatemo.com">templatemo</a></p>
                </div> <!-- .col-md-12 -->
            </div> <!-- .row -->
        </div> <!-- .container -->
    </footer> <!-- .site-footer -->
        
        {% block body %}{% endblock %}
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
{#        <script src="{{ asset('js/bootstrap.js') }}"></script>#}
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{#        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">#}
{#        <script src="{{ asset('js/vendor/jquery-1.10.1.min.js') }}"></script>#}
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
{#        <script src="{{ asset('js/bootstrap.min.js') }}"></script>#}
        <script src="{{ asset('js/plugins.js') }}"></script>
        <script src="{{ asset('js/templatemo_custom.js') }}"></script> 
        {% block javascripts %}{% endblock %}
    </body>
</html>
